
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                @Html.DropDownList("ddlCountries", (IEnumerable<SelectListItem>)ViewBag.dropdownVD, "Select Country", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <select id="ddlStates" class="form-control">
                    <option>Select State</option>
                </select>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <select id="ddlCities" class="form-control">
                    <option>Select City</option>
                </select>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        disableDdlStates();
        disableDdlCities();
        DdlCountriesChange();
        DdlStatesChange();
       
    });

    function DdlCountriesChange() {
        $("#ddlCountries").change(function () {
            var countryId = $(this).val();
            $.get("/Home/GetStates?countryId=" + countryId)
                .done(function (data) {
                    if (data === "-1") {
                        disableDdlStates();
                        disableDdlCities();
                    } else {
                        refershDdlStatesOptions(data);
                        enableDdlStates();
                    }

                })
                .fail(function (e) {
                    console.log(e);
                });

        });
    }

    function DdlStatesChange() {
        $("#ddlStates").change(function () {
            var stateId = $(this).val();
            $.get("/Home/GetCities?stateId=" + stateId)
                .done(function (data) {
                    if (data === "-1") {
                        disableDdlCities();
                    } else {
                        refershDdlCitiesOptions(data);
                        enableDdlCities();
                    }

                })
                .fail(function (e) {
                    console.log(e);
                });

        });
    }

    function refershDdlStatesOptions(data) {

        var $states = $("#ddlStates");

        var $defOption = $("<option/>", { value: "-1", text: "Select State" });
        $states.empty().append($defOption);

        $.each(data, function (i, v) {
            $("<option/>", { value: v.StateId, text: v.StateName }).appendTo($states);
        });

    }
    function disableDdlStates() {
        var $states = $("#ddlStates");
        var $defOption = $("<option/>", { value: "-1", text: "Select State" });
        $states.empty().append($defOption);
        $states.attr("disabled", "disabled");
    }
    function enableDdlStates() {
        var $states = $("#ddlStates");
        $states.attr("disabled", false);
    }

    function refershDdlCitiesOptions(data) {

        var $cities = $("#ddlCities");

        var $defOption = $("<option/>", { value: "-1", text: "Select City" });
        $cities.empty().append($defOption);

        $.each(data, function (i, v) {
            $("<option/>", { value: v.CityId, text: v.CityName }).appendTo($cities);
        });

    }
    function disableDdlCities() {
        var $cities = $("#ddlCities");
        var $defOption = $("<option/>", { value: "-1", text: "Select City" });
        $cities.empty().append($defOption);
        $cities.attr("disabled", "disabled");
    }
    function enableDdlCities() {
        var $cities = $("#ddlCities");
        $cities.attr("disabled", false);
    }
</script>
